<div class="container">
    <app-progress-stepper (stepTimedOut)="nextQuestion()" #stepper [steps]="questions"></app-progress-stepper>
    <div class="d-flex justify-content-center w-100">
        <app-question [questionData]="currentQuestion" (answerSelected)="onSelectAnswer($event)"></app-question>
    </div>
    <p class="d-flex justify-content-center w-100" *ngIf="questions.length === currentQuestionIndex">
        Your have reached the end of test please submit
    </p>

    <div class="mt-2 d-flex justify-content-end w-100">
        <button [disabled]="questions.length===currentQuestionIndex || !selectedAnswer.length" type="button"
            class="btn btn-secondary me-2" (click)="nextQuestion()">Next</button>
        <button type="button" [disabled]="questions.length !== currentQuestionIndex" class="btn btn-success me-2"
            (click)="submitQuiz()">Submit</button>
    </div>


</div>
